.tablet{
  display: none;
}
header.topbar{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  color: #e3e0cf;
  margin-top: 2em;
  a{
    color: inherit;
    font-size: 30pt;
    transition: font-size 1s;
    &:hover{
      color: #999;
      font-size: 44pt;
    }
  }
}
section.view{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e3e0cf;
  height: 100vh;
  background-size: cover;
  padding: 2em 10%;
  &.vw1{
    background-image: url('img/coding.jpeg');
    h1{
      font-size: 28pt;
      font-weight: 500;
    }
    h2{
      font-weight: 300;
    }
    h3{
      font-weight: 300;
      color: #ffd369;
    }
    header.topbar-mobile{
      display: none;
    }
    .img-wrapper{
      background-image: url('img/murilo.jpg');
      background-size: cover;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      transition: width 1s, height 1s;
      &:hover{
        width: 240px;
        height: 240px;
        border-radius: 20%;
      }
    }
  }
  &.vw2{
    background-image: url('img/business.jpg');
    justify-content: flex-start;
    h1{
      color: #ffd369;
      font-size: 26pt;
      margin-bottom: 1em;
    }
    article.about{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 4em;
      p{
        display: inline-block;
        width: 75%;
        font-size: 13pt;
        line-height: 1.5em;
      }
      .about-image{
        height: 200px;
        width: 200px;
        background-size: cover;
        border-radius: 50%;
        transition: width 1s, height 1s;
        &.img-1{
          background-image: url('img/robotica.jpg');

        }
        &.img-2{
          background-image: url('img/coder.jpeg');
        }
        &:hover{
          width: 240px;
          height: 240px;
          border-radius: 20%;
        }
      }
    }
  }
  &.vw3{
    background-image: url('img/coding2.jpg');
    justify-content: flex-start;
    h1{
      color: #ffd369;
      font-size: 26pt;
      margin-bottom: 1em;
    }
    .skills{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 1.5em;
      h2{
        font-weight: 300;
        display: inline-block;
        margin-bottom: 2em;
        color: orange;
      }
      i{
        transition: font-size 1s;
      }
      &.pri i{
        font-size: 44pt;
        &:hover{
          font-size: 60pt;
        }
      }
      &.sec i{
        font-size: 30pt;
        &:hover{
          font-size: 44pt;
        }
      }
      &.other i{
        font-size: 22pt;
        &:hover{
          font-size: 30pt;
        }
      }
      &.languages{
        h2{
          margin-bottom: 1em;
        }
        .languages-list{
          display: flex;
          .language{
            margin-right: 32px;
          }
        }
      }
    }
  }
  &.vw4{
    background: #C4BA60;
    justify-content: flex-start;
    height: auto;
    color: #444;
    padding: 3em 0%;
    h1{
      margin-bottom: 2em;
      color: white;
    }
    article.portfolio{
      display: flex;
      margin-bottom: 48px;
      align-items: flex-start;
      height: 100vh;
      padding: 3em 5%;
      &.b{
        background: #A69F50;
        .description {
          p, h2, a{
            color: #333;
          }
        }
      }
      .image{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0 1em;
        width: 60%;
        img{
          width: 85%;
        }
      }
      .description{
        width: 40%;
        padding-left: 2em;
        p {
          color: #444;
          text-align: justify;
          a{
            color: #444;
            text-decoration: underline;
            &:first-child{
              margin-right: 1em;
            } 
          }  
        }
        h2{
          font-size: 20pt;
        }
        h3{
          font-size: 12pt;
        }
      }
    }
  }
}
.txt-red{
  color: orangered;
}
.txt-purple{
  color: darkmagenta;
}