body {
  margin: 0;
  font-family: "Ubuntu", "Helvetica", sans-serif;
}

.tablet {
  display: none;
}

header.topbar {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  color: #e3e0cf;
  margin-top: 2em;
}
header.topbar a {
  color: inherit;
  font-size: 30pt;
  transition: font-size 1s;
}
header.topbar a:hover {
  color: #999;
  font-size: 44pt;
}

section.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e3e0cf;
  height: 100vh;
  background-size: cover;
  padding: 2em 10%;
}
section.view.vw1 {
  background-image: url("img/coding.jpeg");
}
section.view.vw1 h1 {
  font-size: 28pt;
  font-weight: 500;
}
section.view.vw1 h2 {
  font-weight: 300;
}
section.view.vw1 h3 {
  font-weight: 300;
  color: #ffd369;
}
section.view.vw1 header.topbar-mobile {
  display: none;
}
section.view.vw1 .img-wrapper {
  background-image: url("img/murilo.jpg");
  background-size: cover;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  transition: width 1s, height 1s;
}
section.view.vw1 .img-wrapper:hover {
  width: 240px;
  height: 240px;
  border-radius: 20%;
}
section.view.vw2 {
  background-image: url("img/business.jpg");
  justify-content: flex-start;
}
section.view.vw2 h1 {
  color: #ffd369;
  font-size: 26pt;
  margin-bottom: 1em;
}
section.view.vw2 article.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 4em;
}
section.view.vw2 article.about p {
  display: inline-block;
  width: 75%;
  font-size: 13pt;
  line-height: 1.5em;
}
section.view.vw2 article.about .about-image {
  height: 200px;
  width: 200px;
  background-size: cover;
  border-radius: 50%;
  transition: width 1s, height 1s;
}
section.view.vw2 article.about .about-image.img-1 {
  background-image: url("img/robotica.jpg");
}
section.view.vw2 article.about .about-image.img-2 {
  background-image: url("img/coder.jpeg");
}
section.view.vw2 article.about .about-image:hover {
  width: 240px;
  height: 240px;
  border-radius: 20%;
}
section.view.vw3 {
  background-image: url("img/coding2.jpg");
  justify-content: flex-start;
}
section.view.vw3 h1 {
  color: #ffd369;
  font-size: 26pt;
  margin-bottom: 1em;
}
section.view.vw3 .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5em;
}
section.view.vw3 .skills h2 {
  font-weight: 300;
  display: inline-block;
  margin-bottom: 2em;
  color: orange;
}
section.view.vw3 .skills i {
  transition: font-size 1s;
}
section.view.vw3 .skills.pri i {
  font-size: 44pt;
}
section.view.vw3 .skills.pri i:hover {
  font-size: 60pt;
}
section.view.vw3 .skills.sec i {
  font-size: 30pt;
}
section.view.vw3 .skills.sec i:hover {
  font-size: 44pt;
}
section.view.vw3 .skills.other i {
  font-size: 22pt;
}
section.view.vw3 .skills.other i:hover {
  font-size: 30pt;
}
section.view.vw3 .skills.languages h2 {
  margin-bottom: 1em;
}
section.view.vw3 .skills.languages .languages-list {
  display: flex;
}
section.view.vw3 .skills.languages .languages-list .language {
  margin-right: 32px;
}
section.view.vw4 {
  background: #C4BA60;
  justify-content: flex-start;
  height: auto;
  color: #444;
  padding: 3em 0%;
}
section.view.vw4 h1 {
  margin-bottom: 2em;
  color: white;
}
section.view.vw4 article.portfolio {
  display: flex;
  margin-bottom: 48px;
  align-items: flex-start;
  height: 100vh;
  padding: 3em 5%;
}
section.view.vw4 article.portfolio.b {
  background: #A69F50;
}
section.view.vw4 article.portfolio.b .description p, section.view.vw4 article.portfolio.b .description h2, section.view.vw4 article.portfolio.b .description a {
  color: #333;
}
section.view.vw4 article.portfolio .image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 1em;
  width: 60%;
}
section.view.vw4 article.portfolio .image img {
  width: 85%;
}
section.view.vw4 article.portfolio .description {
  width: 40%;
  padding-left: 2em;
}
section.view.vw4 article.portfolio .description p {
  color: #444;
  text-align: justify;
}
section.view.vw4 article.portfolio .description p a {
  color: #444;
  text-decoration: underline;
}
section.view.vw4 article.portfolio .description p a:first-child {
  margin-right: 1em;
}
section.view.vw4 article.portfolio .description h2 {
  font-size: 20pt;
}
section.view.vw4 article.portfolio .description h3 {
  font-size: 12pt;
}

.txt-red {
  color: orangered;
}

.txt-purple {
  color: darkmagenta;
}

@media only screen and (max-width: 1024px) {
  section.view {
    padding: 2em 5%;
  }
  section.view.vw2 article.about p {
    width: 72%;
    font-size: 12pt;
  }
  section.view.vw3 h1 {
    font-size: 20pt;
  }
  section.view.vw3 h2 {
    font-size: 16pt;
  }
  section.view.vw3 .skills {
    margin-bottom: 1em;
  }
}
@media only screen and (max-width: 768px) {
  .computer.mobile {
    display: none;
  }

  .tablet {
    display: initial;
  }

  section.view {
    padding: 2em 48px;
  }
  section.view.vw2 article.about p {
    font-size: 10pt;
    width: 65%;
    text-align: justify;
  }
  section.view.vw3 h1 {
    font-size: 20pt;
  }
  section.view.vw3 h2 {
    font-size: 16pt;
  }
  section.view.vw3 .skills {
    margin-bottom: 1em;
  }
  section.view.vw4 article.portfolio {
    flex-wrap: wrap;
    align-content: flex-start;
  }
  section.view.vw4 article.portfolio .image {
    padding: 0;
    width: 50%;
  }
  section.view.vw4 article.portfolio .image img {
    width: 100%;
  }
  section.view.vw4 article.portfolio .description {
    padding: 0;
    width: 50%;
  }
  section.view.vw4 article.portfolio .description:not(:first-child) {
    padding-left: 2em;
  }
  section.view.vw4 article.portfolio p {
    margin-top: 48px;
    font-size: 13pt;
    text-align: justify;
  }
}
@media only screen and (max-width: 425px) {
  header.topbar {
    display: none;
  }

  section.view {
    padding: 2em 32px;
  }
  section.view.vw1 {
    justify-content: flex-start;
  }
  section.view.vw1 header.topbar-mobile {
    display: flex;
    width: 100vw;
    justify-content: center;
    color: #e3e0cf;
    padding-bottom: 2em;
  }
  section.view.vw1 header.topbar-mobile a {
    color: inherit;
    font-size: 24pt;
    transition: font-size 1s;
    margin: 0 8px;
  }
  section.view.vw1 header.topbar-mobile a:hover {
    color: #999;
    font-size: 44pt;
  }
  section.view.vw1 h1 {
    font-size: 22pt;
    text-align: center;
  }
  section.view.vw1 h2 {
    font-size: 11pt;
    text-align: center;
    margin-top: 0;
  }
  section.view.vw1 h3 {
    font-size: 10pt;
    text-align: center;
  }
  section.view.vw2 {
    height: auto;
  }
  section.view.vw2 h1 {
    font-size: 22pt;
  }
  section.view.vw2 article.about {
    justify-content: center;
    margin: 0;
  }
  section.view.vw2 article.about .about-image {
    margin-bottom: 48px;
    width: 240px;
    height: 240px;
  }
  section.view.vw2 article.about p {
    font-size: 11pt;
    margin-bottom: 2em;
    width: auto;
  }
  section.view.vw3 h1 {
    font-size: 18pt;
  }
  section.view.vw3 .skills i {
    font-size: 28pt !important;
  }
  section.view.vw3 .skills.languages .languages-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  section.view.vw3 .skills.languages .languages-list .language {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    margin: 0;
  }
  section.view.vw3 .skills.languages .languages-list .language i {
    margin: 0;
  }
  section.view.vw4 h1 {
    margin-bottom: 0;
  }
  section.view.vw4 article.portfolio {
    height: auto;
    margin: 0;
  }
  section.view.vw4 article.portfolio a.image {
    width: 100%;
    margin-bottom: 24px;
  }
  section.view.vw4 article.portfolio .description {
    width: auto !important;
    padding: 0 !important;
  }
  section.view.vw4 article.portfolio .description p {
    margin-top: 0;
  }
  section.view.vw4 article.portfolio .description h3 {
    font-size: 11pt;
  }
  section.view.vw4 article.portfolio p.tablet {
    margin-top: 0;
    font-size: 10pt;
  }
}

/*# sourceMappingURL=style.css.map */
